:root {
    --ph: 4em;
    --sep: 3px;
    --p1: 180deg;
    --p2: 270deg;
    --p3: 0deg;
    --p4: 90deg;
}

#discard .tile {
    vertical-align: middle;
}

.pass-button {
    display: inline-block;
    margin-left: 10px;
}