.tile {
  display: inline-block;

  --lw: calc(0.5 * var(--ph));
  --lh: calc(0.7 * var(--ph));
  width: var(--lw);
  height: var(--lh);
  min-width: var(--lw);
  min-height: var(--lh);
  max-width: var(--lw);
  max-height: var(--lh);

  position: relative;
  z-index: 1;
  margin-bottom: 2px;

  border: 1px solid black;
  border-radius: calc(0.05 * var(--ph));

  background-color: rgb(245, 245, 245);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  color: transparent;
}

.tile.latest {
  border-bottom: 4px solid #099155;
}

.tile + .tile {
  margin-left: 1px;
}

.tile[data-tile="-1"] { content: "unknown"; background-image: url("../images/tiles/concealed.jpg"); box-shadow: -1px -1px 1px 0 inset #0d450e; }

.tile[data-tile="0"] { content: "bamboo-1"; background-image: url("../images/tiles/0.jpg");}
.tile[data-tile="1"] { content: "bamboo-2"; background-image: url("../images/tiles/1.jpg");}
.tile[data-tile="2"] { content: "bamboo-3"; background-image: url("../images/tiles/2.jpg");}
.tile[data-tile="3"] { content: "bamboo-4"; background-image: url("../images/tiles/3.jpg");}
.tile[data-tile="4"] { content: "bamboo-5"; background-image: url("../images/tiles/4.jpg");}
.tile[data-tile="5"] { content: "bamboo-6"; background-image: url("../images/tiles/5.jpg");}
.tile[data-tile="6"] { content: "bamboo-7"; background-image: url("../images/tiles/6.jpg");}
.tile[data-tile="7"] { content: "bamboo-8"; background-image: url("../images/tiles/7.jpg");}
.tile[data-tile="8"] { content: "bamboo-9"; background-image: url("../images/tiles/8.jpg");}

.tile[data-tile="9"] { content: "characters-1"; background-image: url("../images/tiles/9.jpg");}
.tile[data-tile="10"] { content: "characters-2"; background-image: url("../images/tiles/10.jpg");}
.tile[data-tile="11"] { content: "characters-3"; background-image: url("../images/tiles/11.jpg");}
.tile[data-tile="12"] { content: "characters-4"; background-image: url("../images/tiles/12.jpg");}
.tile[data-tile="13"] { content: "characters-5"; background-image: url("../images/tiles/13.jpg");}
.tile[data-tile="14"] { content: "characters-6"; background-image: url("../images/tiles/14.jpg");}
.tile[data-tile="15"] { content: "characters-7"; background-image: url("../images/tiles/15.jpg");}
.tile[data-tile="16"] { content: "characters-8"; background-image: url("../images/tiles/16.jpg");}
.tile[data-tile="17"] { content: "characters-9"; background-image: url("../images/tiles/17.jpg");}

.tile[data-tile="18"] { content: "dots-1"; background-image: url("../images/tiles/18.jpg");}
.tile[data-tile="19"] { content: "dots-2"; background-image: url("../images/tiles/19.jpg");}
.tile[data-tile="20"] { content: "dots-3"; background-image: url("../images/tiles/20.jpg");}
.tile[data-tile="21"] { content: "dots-4"; background-image: url("../images/tiles/21.jpg");}
.tile[data-tile="22"] { content: "dots-5"; background-image: url("../images/tiles/22.jpg");}
.tile[data-tile="23"] { content: "dots-6"; background-image: url("../images/tiles/23.jpg");}
.tile[data-tile="24"] { content: "dots-7"; background-image: url("../images/tiles/24.jpg");}
.tile[data-tile="25"] { content: "dots-8"; background-image: url("../images/tiles/25.jpg");}
.tile[data-tile="26"] { content: "dots-9"; background-image: url("../images/tiles/26.jpg");}

.tile[data-tile="27"] { content: "E"; background-image: url("../images/tiles/27.jpg");}
.tile[data-tile="28"] { content: "S"; background-image: url("../images/tiles/28.jpg");}
.tile[data-tile="29"] { content: "W"; background-image: url("../images/tiles/29.jpg");}
.tile[data-tile="30"] { content: "N"; background-image: url("../images/tiles/30.jpg");}

.tile[data-tile="31"] { content: "F"; background-image: url("../images/tiles/31.jpg");}
.tile[data-tile="32"] { content: "C"; background-image: url("../images/tiles/32.jpg");}
.tile[data-tile="33"] { content: "P"; background-image: url("../images/tiles/33.jpg");}

.tile[data-tile="38"] { content: "spring"; background-image: url("../images/tiles/38.jpg");}
.tile[data-tile="39"] { content: "summer"; background-image: url("../images/tiles/39.jpg");}
.tile[data-tile="40"] { content: "fall"; background-image: url("../images/tiles/40.jpg");}
.tile[data-tile="41"] { content: "winter"; background-image: url("../images/tiles/41.jpg");}

.tile[data-tile="34"] { content: "orchid"; background-image: url("../images/tiles/34.jpg");}
.tile[data-tile="35"] { content: "plum"; background-image: url("../images/tiles/35.jpg");}
.tile[data-tile="36"] { content: "chrysanthemum"; background-image: url("../images/tiles/36.jpg");}
.tile[data-tile="37"] { content: "bamboo"; background-image: url("../images/tiles/37.jpg");}

.tile[data-hidden] {
  content: "unknown";
  background-image: url("../images/tiles/concealed.jpg");
}

.tile[data-bonus] {
  border: 1px solid red;
}

.tile[data-concealed] {
  background-color: var(--green);
  background-position: center calc(var(--lh) / 6);
}

.tile[data-setnum="0"] + .tile[data-setnum="1"] { margin-left: 10px; }
.tile[data-setnum="1"] + .tile[data-setnum="2"] { margin-left: 10px; }
.tile[data-setnum="2"] + .tile[data-setnum="3"] { margin-left: 10px; }
.tile[data-setnum="3"] + .tile[data-setnum="4"] { margin-left: 10px; }
.tile[data-setnum="4"] + .tile[data-setnum="5"] { margin-left: 10px; }
